In [69]:
import pandas as pd
import numpy as np
#import psycopg2
from sqlalchemy import create_engine

In [70]:
engine = create_engine('postgresql://postgres:admin@localhost/postgres')



#Create Dataframes
fact_df = pd.read_csv(r"./World bank data/Fact_Table_Base.csv")
country_df = pd.read_sql_query('select * from "Country"',con=engine)
month_df = pd.read_sql_query('select * from "Month"',con=engine)
edu_df = pd.read_sql_query('select * from "Education"',con=engine)
health_df = pd.read_sql_query('select * from "Health"',con=engine)
population_df = pd.read_sql_query('select * from "Population"',con=engine)
Quality_df = pd.read_sql_query('select * from "Quality_of_Life"',con=engine)

In [71]:
#Adding CountryKey

conditions = [fact_df['Country']=='Bangladesh', fact_df['Country']=='Canada', fact_df['Country']=='Dem. Rep. Congo',
                fact_df['Country']=='Liberia', fact_df['Country']=='Mexico', fact_df['Country']=='Mauritius', fact_df['Country']=='Nepal',
                fact_df['Country']=='United States', fact_df['Country']=='Vietnam']

keys = [1,2,3,4,5,6,7,8,9]

fact_df['CountryKey'] = np.select(conditions, keys, default=100)

In [72]:
#Adding MonthKey
for item in month_df[month_df.Name == 'January'].values:
    fact_df.loc[fact_df['Year'] == str(item[4]), 'MonthKey'] = item[0]

fact_df['MonthKey'] = fact_df["MonthKey"].astype(int)

In [73]:
for item in edu_df.values:
    fact_df.loc[((fact_df['Year'] == str(item[-2])) & (fact_df['Country'] == item[-1])), 'EducationKey'] = item[0]
    #print(item[-2]) Gets the Year
    #item[-1] Gets the country
fact_df['EducationKey'] = fact_df["EducationKey"].astype(int)
fact_df

,Country,Year,Quality_Of_Life,Human_Development_Index,Development Index,CountryKey,MonthKey,EducationKey
0,Bangladesh,2005-01-01,4,0.514,3,1,1,129
1,Bangladesh,2006-01-01,4,0.521,3,1,13,130
2,Bangladesh,2007-01-01,4,0.528,3,1,25,131
3,Bangladesh,2008-01-01,4,0.531,3,1,37,132
4,Bangladesh,2009-01-01,4,0.543,3,1,49,133
...,...,...,...,...,...,...,...,...
139,Vietnam,2016-01-01,4,0.693,2,9,133,108
140,Vietnam,2017-01-01,4,0.696,2,9,145,109
141,Vietnam,2018-01-01,3,0.700,2,9,157,110
142,Vietnam,2019-01-01,3,0.704,2,9,169,111
143,Vietnam,2020-01-01,3,0.704,2,9,181,112

In [ ]:
for item in health_df.values:
    fact_df.loc[((fact_df['Year'] == str(item[-2])) & (fact_df['Country'] == item[-1])), 'HealthKey'] = item[0]
    #print(item)
    #print(item[-2]) Gets the Year
    #item[-1] Gets the country
fact_df['HealthKey'] = fact_df["HealthKey"].astype(int)
fact_df

In [ ]:
for item in population_df.values:
    fact_df.loc[((fact_df['Year'] == str(item[3])) & (fact_df['Country'] == item[2])), 'PopulationKey'] = item[0]
    #print(item)
    #print(item[-2]) Gets the Year
    #item[-1] Gets the country


#fact_df['PopulationKey'] = fact_df["PopulationKey"].astype(int)
for item in fact_df["PopulationKey"]:
    print(item)