In [17]:
import pandas as pd
#import psycopg2
#from sqlalchemy import create_engine
#from django.conf import settings

In [18]:
education_df = pd.read_csv(r'./World bank data/HNP_StatsData.csv')



# pruned_df = country_df[["Short Name", "Region", "Currency Unit", "WB-2 code", 'Country Code', 
#                 'Source of most recent Income and expenditure data', 'System of trade', 'External debt Reporting status', 'Lending category',
#                 'SNA price valuation', 'Income Group', 'Latest population census', 'Latest household survey']]

# education_df = pruned_df.loc[
#                 (pruned_df['Short Name'] == 'Canada') | (pruned_df['Short Name'] == 'United States') | 
#                 (pruned_df['Short Name'] == 'Mexico') | (pruned_df['Short Name'] == 'Mauritius') |
#                 (pruned_df['Short Name'] == 'Liberia') | (pruned_df['Short Name'] == 'Dem. Rep. Congo') |
#                 (pruned_df['Short Name'] == 'Vietnam') | (pruned_df['Short Name'] == 'Nepal') | 
#                 (pruned_df['Short Name'] == 'Bangladesh')]

education_dfCopy = education_df.copy()
education_dfCopy = education_dfCopy.rename(columns={'Country Name': 'CountryName'})
education_dfCopy  = education_dfCopy .drop(education_dfCopy [(education_dfCopy .CountryName != "Canada") &
                                                                      (education_dfCopy.CountryName != "United States") & 
                                                                      (education_dfCopy.CountryName != "Mexico") &
                                                                     (education_dfCopy.CountryName != "Mauritius") &
                                                                      (education_dfCopy.CountryName != "Liberia") &
                                                                      (education_dfCopy.CountryName != "Dem. Rep. Congo") &
                                                                      (education_dfCopy.CountryName != "Vietnam") &
                                                                      (education_dfCopy.CountryName != "Nepal") &
                                                                      (education_dfCopy.CountryName != "Bangladesh") 
                                                                      ].index)

education_dfCopy = education_dfCopy.rename(columns={'Indicator Name': 'Indicator_Name'})
education_dfCopy  = education_dfCopy .drop(education_dfCopy [(education_dfCopy.Indicator_Name != "Literacy rate, adult female (% of females ages 15 and above)") &
                                                                      (education_dfCopy.Indicator_Name != "Literacy rate, adult male (% of males ages 15 and above)") & 
                                                                      (education_dfCopy.Indicator_Name != "Literacy rate, adult total (% of people ages 15 and above)") &
                                                                     (education_dfCopy.Indicator_Name != "Literacy rate, youth total (% of people ages 15-24)") &
                                                                      (education_dfCopy.Indicator_Name != "Public spending on education, total (% of GDP)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, primary, male (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, primary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, secondary, male (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, secondary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, tertiary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, tertiary (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "Primary completion rate, total (% of relevant age group)") 
                                                                      ].index)
education_dfCopy = education_dfCopy.drop(['1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', 'Country Code', 'Indicator Code', 'Unnamed: 66', '2021'], axis=1)
canada = education_dfCopy.loc[(education_dfCopy['CountryName'] == 'Canada')]
print(canada)
#education_dfCopy =pd.pivot_table(education_dfCopy,index=["Indicator_Name"])
canada.set_index('Indicator_Name',inplace=True)
education_dfCopy1 = canada[["2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]]
print((education_dfCopy1.T))

      CountryName                                     Indicator_Name  \
37197      Canada  Literacy rate, adult female (% of females ages...
37198      Canada  Literacy rate, adult male (% of males ages 15 ...
37199      Canada  Literacy rate, adult total (% of people ages 1...
37201      Canada  Literacy rate, youth total (% of people ages 1...
37413      Canada  Primary completion rate, total (% of relevant ...
37427      Canada     Public spending on education, total (% of GDP)
37438      Canada       School enrollment, primary, female (% gross)
37440      Canada         School enrollment, primary, male (% gross)
37444      Canada     School enrollment, secondary, female (% gross)
37446      Canada       School enrollment, secondary, male (% gross)
37448      Canada              School enrollment, tertiary (% gross)
37449      Canada      School enrollment, tertiary, female (% gross)

             2005        2006        2007        2008        2009        2010  \
37197         NaN         NaN         NaN         NaN         NaN         NaN
37198         NaN         NaN         NaN         NaN         NaN         NaN
37199         NaN         NaN         NaN         NaN         NaN         NaN
37201         NaN         NaN         NaN         NaN         NaN         NaN
37413         NaN         NaN         NaN         NaN         NaN         NaN
37427    4.765880         NaN    4.766410    4.626120    4.840580    5.356370
37438   96.938713   98.509827   98.721107   97.920860   99.085129   98.905060
37440   97.771187   99.234444   99.200188   98.101181   98.936394   98.392242
37444  100.234383  100.669502  100.748367  101.104248  101.503609  101.156693
37446  102.487061  102.732361  103.001900  103.525932  103.908081  103.582977
37448         NaN         NaN   63.600060   63.767399   63.065769   61.655849
37449         NaN         NaN   73.959007   74.445541   73.926331   71.822830

             2011        2012        2013        2014        2015        2016  \
37197         NaN         NaN         NaN         NaN         NaN         NaN
37198         NaN         NaN         NaN         NaN         NaN         NaN
37199         NaN         NaN         NaN         NaN         NaN         NaN
37201         NaN         NaN         NaN         NaN         NaN         NaN
37413         NaN         NaN         NaN         NaN         NaN         NaN
37427    5.262050         NaN         NaN         NaN         NaN         NaN
37438   98.548828  100.066978  100.913727  102.158684  102.907959  101.068466
37440   97.849930   99.000908   99.800148  100.948692  102.084152  100.981453
37444  102.266876  109.856071  109.615318  109.651222  110.857620  113.386459
37446  104.380768  110.112503  109.363327  109.032303  109.883949  111.693092
37448   63.467319   63.980770   65.332298   65.612907   64.786957   66.439178
37449   73.632057   73.589813   74.917633   75.265961   74.480370   76.384560

             2017        2018        2019  2020
37197         NaN         NaN         NaN   NaN
37198         NaN         NaN         NaN   NaN
37199         NaN         NaN         NaN   NaN
37201         NaN         NaN         NaN   NaN
37413         NaN         NaN         NaN   NaN
37427         NaN         NaN         NaN   NaN
37438  100.819138  101.275398  100.694023   NaN
37440  101.062439  101.716621  101.272324   NaN
37444  114.520638  114.747681  114.820534   NaN
37446  113.046677  113.531532  113.869751   NaN
37448   68.922508   70.113022   75.698822   NaN
37449   79.292389   80.577957   86.508873   NaN
Indicator_Name  Literacy rate, adult female (% of females ages 15 and above)  \
2005                                                          NaN
2006                                                          NaN
2007                                                          NaN
2008                                                          NaN
2009                                                          NaN
2010                                                          NaN
2011                                                          NaN
2012                                                          NaN
2013                                                          NaN
2014                                                          NaN
2015                                                          NaN
2016                                                          NaN
2017                                                          NaN
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN

Indicator_Name  Literacy rate, adult male (% of males ages 15 and above)  \
2005                                                          NaN
2006                                                          NaN
2007                                                          NaN
2008                                                          NaN
2009                                                          NaN
2010                                                          NaN
2011                                                          NaN
2012                                                          NaN
2013                                                          NaN
2014                                                          NaN
2015                                                          NaN
2016                                                          NaN
2017                                                          NaN
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN

Indicator_Name  Literacy rate, adult total (% of people ages 15 and above)  \
2005                                                          NaN
2006                                                          NaN
2007                                                          NaN
2008                                                          NaN
2009                                                          NaN
2010                                                          NaN
2011                                                          NaN
2012                                                          NaN
2013                                                          NaN
2014                                                          NaN
2015                                                          NaN
2016                                                          NaN
2017                                                          NaN
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN

Indicator_Name  Literacy rate, youth total (% of people ages 15-24)  \
2005                                                          NaN
2006                                                          NaN
2007                                                          NaN
2008                                                          NaN
2009                                                          NaN
2010                                                          NaN
2011                                                          NaN
2012                                                          NaN
2013                                                          NaN
2014                                                          NaN
2015                                                          NaN
2016                                                          NaN
2017                                                          NaN
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN

Indicator_Name  Primary completion rate, total (% of relevant age group)  \
2005                                                          NaN
2006                                                          NaN
2007                                                          NaN
2008                                                          NaN
2009                                                          NaN
2010                                                          NaN
2011                                                          NaN
2012                                                          NaN
2013                                                          NaN
2014                                                          NaN
2015                                                          NaN
2016                                                          NaN
2017                                                          NaN
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN

Indicator_Name  Public spending on education, total (% of GDP)  \
2005                                                   4.76588
2006                                                       NaN
2007                                                   4.76641
2008                                                   4.62612
2009                                                   4.84058
2010                                                   5.35637
2011                                                   5.26205
2012                                                       NaN
2013                                                       NaN
2014                                                       NaN
2015                                                       NaN
2016                                                       NaN
2017                                                       NaN
2018                                                       NaN
2019                                                       NaN
2020                                                       NaN

Indicator_Name  School enrollment, primary, female (% gross)  \
2005                                               96.938713
2006                                               98.509827
2007                                               98.721107
2008                                               97.920860
2009                                               99.085129
2010                                               98.905060
2011                                               98.548828
2012                                              100.066978
2013                                              100.913727
2014                                              102.158684
2015                                              102.907959
2016                                              101.068466
2017                                              100.819138
2018                                              101.275398
2019                                              100.694023
2020                                                     NaN

Indicator_Name  School enrollment, primary, male (% gross)  \
2005                                             97.771187
2006                                             99.234444
2007                                             99.200188
2008                                             98.101181
2009                                             98.936394
2010                                             98.392242
2011                                             97.849930
2012                                             99.000908
2013                                             99.800148
2014                                            100.948692
2015                                            102.084152
2016                                            100.981453
2017                                            101.062439
2018                                            101.716621
2019                                            101.272324
2020                                                   NaN

Indicator_Name  School enrollment, secondary, female (% gross)  \
2005                                                100.234383
2006                                                100.669502
2007                                                100.748367
2008                                                101.104248
2009                                                101.503609
2010                                                101.156693
2011                                                102.266876
2012                                                109.856071
2013                                                109.615318
2014                                                109.651222
2015                                                110.857620
2016                                                113.386459
2017                                                114.520638
2018                                                114.747681
2019                                                114.820534
2020                                                       NaN

Indicator_Name  School enrollment, secondary, male (% gross)  \
2005                                              102.487061
2006                                              102.732361
2007                                              103.001900
2008                                              103.525932
2009                                              103.908081
2010                                              103.582977
2011                                              104.380768
2012                                              110.112503
2013                                              109.363327
2014                                              109.032303
2015                                              109.883949
2016                                              111.693092
2017                                              113.046677
2018                                              113.531532
2019                                              113.869751
2020                                                     NaN

Indicator_Name  School enrollment, tertiary (% gross)  \
2005                                              NaN
2006                                              NaN
2007                                        63.600060
2008                                        63.767399
2009                                        63.065769
2010                                        61.655849
2011                                        63.467319
2012                                        63.980770
2013                                        65.332298
2014                                        65.612907
2015                                        64.786957
2016                                        66.439178
2017                                        68.922508
2018                                        70.113022
2019                                        75.698822
2020                                              NaN

Indicator_Name  School enrollment, tertiary, female (% gross)
2005                                                      NaN
2006                                                      NaN
2007                                                73.959007
2008                                                74.445541
2009                                                73.926331
2010                                                71.822830
2011                                                73.632057
2012                                                73.589813
2013                                                74.917633
2014                                                75.265961
2015                                                74.480370
2016                                                76.384560
2017                                                79.292389
2018                                                80.577957
2019                                                86.508873
2020                                                      NaN

In [19]:
column_map = {
                "Short Name" : "Name",
                "Region" : "Region"
            }

capital_map = { "Canada" : "Ottawa",
                "United States" : "Washington DC",
                "Mexico" : "Mexico City",
                "Mauritius" : "Port Louis",
                "Liberia" : "Monrovia",
                "Dem. Rep. Congo" : "Kinshasa",
                "Vietnam" : "Hanoi", 
                "Nepal" : "kathmandu",
                "Bangladesh" : "Dhaka"}

continent_map = { "Canada" : "North America",
                "United States" : "North America",
                "Mexico" : "North America",
                "Mauritius" : "Africa",
                "Liberia" : "Africa",
                "Dem. Rep. Congo" : "Africa",
                "Vietnam" : "Asia", 
                "Nepal" : "Asia",
                "Bangladesh" : "Asia"}

In [20]:
engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

NameError: name 'create_engine' is not defined

In [ ]:
for item in capital_map: