In [1]:
import pandas as pd
#import psycopg2
from sqlalchemy import create_engine
from django.conf import settings

In [9]:
education_df = pd.read_csv(r'./World bank data/HNP_StatsData.csv')



# pruned_df = country_df[["Short Name", "Region", "Currency Unit", "WB-2 code", 'Country Code', 
#                 'Source of most recent Income and expenditure data', 'System of trade', 'External debt Reporting status', 'Lending category',
#                 'SNA price valuation', 'Income Group', 'Latest population census', 'Latest household survey']]

# education_df = pruned_df.loc[
#                 (pruned_df['Short Name'] == 'Canada') | (pruned_df['Short Name'] == 'United States') | 
#                 (pruned_df['Short Name'] == 'Mexico') | (pruned_df['Short Name'] == 'Mauritius') |
#                 (pruned_df['Short Name'] == 'Liberia') | (pruned_df['Short Name'] == 'Dem. Rep. Congo') |
#                 (pruned_df['Short Name'] == 'Vietnam') | (pruned_df['Short Name'] == 'Nepal') | 
#                 (pruned_df['Short Name'] == 'Bangladesh')]

education_dfCopy = education_df.copy()
education_dfCopy = education_dfCopy.rename(columns={'Country Name': 'CountryName'})
education_dfCopy  = education_dfCopy .drop(education_dfCopy [(education_dfCopy .CountryName != "Canada") &
                                                                      (education_dfCopy.CountryName != "United States") & 
                                                                      (education_dfCopy.CountryName != "Mexico") &
                                                                     (education_dfCopy.CountryName != "Mauritius") &
                                                                      (education_dfCopy.CountryName != "Liberia") &
                                                                      (education_dfCopy.CountryName != "Dem. Rep. Congo") &
                                                                      (education_dfCopy.CountryName != "Vietnam") &
                                                                      (education_dfCopy.CountryName != "Nepal") &
                                                                      (education_dfCopy.CountryName != "Bangladesh") 
                                                                      ].index)

education_dfCopy = education_dfCopy.rename(columns={'Indicator Name': 'Indicator_Name'})
education_dfCopy  = education_dfCopy .drop(education_dfCopy [(education_dfCopy.Indicator_Name != "Literacy rate, adult female (% of females ages 15 and above)") &
                                                                      (education_dfCopy.Indicator_Name != "Literacy rate, adult male (% of males ages 15 and above)") & 
                                                                      (education_dfCopy.Indicator_Name != "Literacy rate, adult total (% of people ages 15 and above)") &
                                                                     (education_dfCopy.Indicator_Name != "Literacy rate, youth total (% of people ages 15-24)") &
                                                                      (education_dfCopy.Indicator_Name != "Public spending on education, total (% of GDP)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, primary, male (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, primary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, secondary, male (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, secondary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, tertiary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, tertiary (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "Primary completion rate, total (% of relevant age group)") 
                                                                      ].index)
education_dfCopy = education_dfCopy.drop(['1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', 'Country Code', 'Indicator Code', 'Unnamed: 66', '2021'], axis=1)
print(education_dfCopy)

      CountryName Country Code  \
38541      Canada          CAN
38542      Canada          CAN
38543      Canada          CAN
38545      Canada          CAN
38765      Canada          CAN
38787      Canada          CAN
38798      Canada          CAN
38800      Canada          CAN
38804      Canada          CAN
38806      Canada          CAN
38808      Canada          CAN
38809      Canada          CAN

                                          Indicator_Name     Indicator Code  \
38541  Literacy rate, adult female (% of females ages...  SE.ADT.LITR.FE.ZS
38542  Literacy rate, adult male (% of males ages 15 ...  SE.ADT.LITR.MA.ZS
38543  Literacy rate, adult total (% of people ages 1...     SE.ADT.LITR.ZS
38545  Literacy rate, youth total (% of people ages 1...  SE.ADT.1524.LT.ZS
38765  Primary completion rate, total (% of relevant ...     SE.PRM.CMPT.ZS
38787     Public spending on education, total (% of GDP)  SE.XPD.TOTL.GD.ZS
38798       School enrollment, primary, female (% gross)     SE.PRM.ENRR.FE
38800         School enrollment, primary, male (% gross)     SE.PRM.ENRR.MA
38804     School enrollment, secondary, female (% gross)     SE.SEC.ENRR.FE
38806       School enrollment, secondary, male (% gross)     SE.SEC.ENRR.MA
38808              School enrollment, tertiary (% gross)        SE.TER.ENRR
38809      School enrollment, tertiary, female (% gross)     SE.TER.ENRR.FE

       1960  1961  1962  1963  1964  1965  ...        2013        2014  \
38541   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
38542   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
38543   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
38545   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
38765   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
38787   NaN   NaN   NaN   NaN   NaN   NaN  ...         NaN         NaN
38798   NaN   NaN   NaN   NaN   NaN   NaN  ...  100.913727  102.158684
38800   NaN   NaN   NaN   NaN   NaN   NaN  ...   99.800148  100.948692
38804   NaN   NaN   NaN   NaN   NaN   NaN  ...  109.615318  109.651222
38806   NaN   NaN   NaN   NaN   NaN   NaN  ...  109.363327  109.032303
38808   NaN   NaN   NaN   NaN   NaN   NaN  ...   65.332298   65.612907
38809   NaN   NaN   NaN   NaN   NaN   NaN  ...   74.917633   75.265961

             2015        2016        2017        2018        2019  2020  2021  \
38541         NaN         NaN         NaN         NaN         NaN   NaN   NaN
38542         NaN         NaN         NaN         NaN         NaN   NaN   NaN
38543         NaN         NaN         NaN         NaN         NaN   NaN   NaN
38545         NaN         NaN         NaN         NaN         NaN   NaN   NaN
38765         NaN         NaN         NaN         NaN         NaN   NaN   NaN
38787         NaN         NaN         NaN         NaN         NaN   NaN   NaN
38798  102.907959  101.068466  100.819138  101.275398  100.694023   NaN   NaN
38800  102.084152  100.981453  101.062439  101.716621  101.272324   NaN   NaN
38804  110.857620  113.386459  114.520638  114.747681  114.820534   NaN   NaN
38806  109.883949  111.693092  113.046677  113.531532  113.869751   NaN   NaN
38808   64.786957   66.439178   68.922508   70.113022   75.698822   NaN   NaN
38809   74.480370   76.384560   79.292389   80.577957   86.508873   NaN   NaN

       Unnamed: 66
38541          NaN
38542          NaN
38543          NaN
38545          NaN
38765          NaN
38787          NaN
38798          NaN
38800          NaN
38804          NaN
38806          NaN
38808          NaN
38809          NaN

[12 rows x 67 columns]

In [3]:
column_map = {
                "Short Name" : "Name",
                "Region" : "Region"
            }

capital_map = { "Canada" : "Ottawa",
                "United States" : "Washington DC",
                "Mexico" : "Mexico City",
                "Mauritius" : "Port Louis",
                "Liberia" : "Monrovia",
                "Dem. Rep. Congo" : "Kinshasa",
                "Vietnam" : "Hanoi", 
                "Nepal" : "kathmandu",
                "Bangladesh" : "Dhaka"}

continent_map = { "Canada" : "North America",
                "United States" : "North America",
                "Mexico" : "North America",
                "Mauritius" : "Africa",
                "Liberia" : "Africa",
                "Dem. Rep. Congo" : "Africa",
                "Vietnam" : "Asia", 
                "Nepal" : "Asia",
                "Bangladesh" : "Asia"}

In [4]:
engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
for item in capital_map: