In [13]:
import pandas as pd
#import psycopg2
from sqlalchemy import create_engine
from django.conf import settings

In [14]:
education_df = pd.read_csv(r'./World bank data/HNP_StatsData.csv')

education_dfCopy = education_df.copy()
education_dfCopy = education_dfCopy.rename(columns={'Country Name': 'CountryName'})
education_dfCopy  = education_dfCopy .drop(education_dfCopy [(education_dfCopy .CountryName != "Canada") &
                                                                      (education_dfCopy.CountryName != "United States") & 
                                                                      (education_dfCopy.CountryName != "Mexico") &
                                                                     (education_dfCopy.CountryName != "Mauritius") &
                                                                      (education_dfCopy.CountryName != "Liberia") &
                                                                      (education_dfCopy.CountryName != "Dem. Rep. Congo") &
                                                                      (education_dfCopy.CountryName != "Vietnam") &
                                                                      (education_dfCopy.CountryName != "Nepal") &
                                                                      (education_dfCopy.CountryName != "Bangladesh") 
                                                                      ].index)

education_dfCopy = education_dfCopy.rename(columns={'Indicator Name': 'Indicator_Name'})
education_dfCopy  = education_dfCopy .drop(education_dfCopy [(education_dfCopy.Indicator_Name != "Literacy rate, adult female (% of females ages 15 and above)") &
                                                                      (education_dfCopy.Indicator_Name != "Literacy rate, adult male (% of males ages 15 and above)") & 
                                                                      (education_dfCopy.Indicator_Name != "Literacy rate, adult total (% of people ages 15 and above)") &
                                                                     (education_dfCopy.Indicator_Name != "Literacy rate, youth total (% of people ages 15-24)") &
                                                                      (education_dfCopy.Indicator_Name != "Public spending on education, total (% of GDP)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, primary, male (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, primary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, secondary, male (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, secondary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, tertiary, female (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "School enrollment, tertiary (% gross)") &
                                                                      (education_dfCopy.Indicator_Name != "Primary completion rate, total (% of relevant age group)") 
                                                                      ].index)
education_dfCopy = education_dfCopy.drop(['1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', 'Country Code', 'Indicator Code', 'Unnamed: 66', '2021'], axis=1)

countrys = ["Canada", "United States", "Mexico", "Mauritius", "Liberia", "Dem. Rep. Congo", "Vietnam", "Nepal", "Bangladesh"]
df = pd.DataFrame()
for x in range(len(countrys)):
                     
                     country_thing = education_dfCopy.loc[(education_dfCopy['CountryName'] == countrys[x])]
                     country_thing=country_thing.drop(['CountryName'],axis=1)
                     #print(canada)
                     #education_dfCopy =pd.pivot_table(education_dfCopy,index=["Indicator_Name"])
                     country_thing.set_index('Indicator_Name',inplace=True)
                     education_dfCopy1 = country_thing[["2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"]]
                     education_dfCopy1 = education_dfCopy1.T
                     education_dfCopy1 = education_dfCopy1.reset_index()
                     education_dfCopy1 = education_dfCopy1.rename(columns={ "Literacy rate, adult female (% of females ages 15 and above)": "Literacy_rate_adult_female_(%_of_females_ages_15_and_above)",
                                                               "Literacy rate, adult male (% of males ages 15 and above)": "Literacy_rate_adult_male_(%_of_males_ages_15_and_above)",
                                                               "Literacy rate, adult total (% of people ages 15 and above)": "Literacy_rate_adult_total_(%_of_people_ages_15_and_above)",
                                                               "Literacy rate, youth total (% of people ages 15-24)": "Literacy_rate_youth_total(%_of_people_ages_15-24)",
                                                               "Public spending on education, total (% of GDP)": "Public_spending_on_education_total(%_of _GDP)",
                                                               "School enrollment, primary, male (% gross)":"School_enrollment_primary_male(%gross)",
                                                               "School enrollment, primary, female (% gross)":"School_enrollment_primary_female(%gross)",
                                                               "School enrollment, secondary, male (% gross)":"School_enrollment_secondary_male(%gross)",
                                                               "School enrollment, secondary, female (% gross)":"School_enrollment_secondary_female(%gross)",
                                                               "School enrollment, tertiary, female (% gross)":"School_enrollment_tertiary_female(%gross)",
                                                               "School enrollment, tertiary (% gross)":"School_enrollment_tertiary(%gross)",
                                                               "Primary completion rate, total (% of relevant age group)":"Primary_completion_rate_total(%_of_relevant_age_group)",
                                                               "index":"Year"})
                     country = [countrys[x]] * 16
                     education_dfCopy1['Country']=country
                     
                     if df.empty:
                            df = education_dfCopy1
                     else:
                            df = df.append(education_dfCopy1, ignore_index=True)

SurrogateKey = df.index + 3000
SurrogateKey = SurrogateKey.values.tolist()
df.insert(0,"SurrogateKey", SurrogateKey, True)
df['Year']= pd.to_datetime(df["Year"])
print(df)

Indicator_Name  SurrogateKey       Year  \
0                       3000 2005-01-01
1                       3001 2006-01-01
2                       3002 2007-01-01
3                       3003 2008-01-01
4                       3004 2009-01-01
..                       ...        ...
139                     3139 2016-01-01
140                     3140 2017-01-01
141                     3141 2018-01-01
142                     3142 2019-01-01
143                     3143 2020-01-01

Indicator_Name  Literacy_rate_adult_female_(%_of_females_ages_15_and_above)  \
0                                                             NaN
1                                                             NaN
2                                                             NaN
3                                                             NaN
4                                                             NaN
..                                                            ...
139                                                     69.897209
140                                                     70.085701
141                                                     71.181938
142                                                     71.948387
143                                                     72.004784

Indicator_Name  Literacy_rate_adult_male_(%_of_males_ages_15_and_above)  \
0                                                             NaN
1                                                             NaN
2                                                             NaN
3                                                             NaN
4                                                             NaN
..                                                            ...
139                                                     75.618851
140                                                     75.702362
141                                                     76.669258
142                                                     77.441490
143                                                     77.816711

Indicator_Name  Literacy_rate_adult_total_(%_of_people_ages_15_and_above)  \
0                                                             NaN
1                                                             NaN
2                                                             NaN
3                                                             NaN
4                                                             NaN
..                                                            ...
139                                                     72.758720
140                                                     72.892967
141                                                     73.912201
142                                                     74.684464
143                                                     74.908897

Indicator_Name  Literacy_rate_youth_total(%_of_people_ages_15-24)  \
0                                                             NaN
1                                                             NaN
2                                                             NaN
3                                                             NaN
4                                                             NaN
..                                                            ...
139                                                     92.242653
140                                                     92.950760
141                                                     93.296440
142                                                     94.862427
143                                                     94.461777

Indicator_Name  Primary_completion_rate_total(%_of_relevant_age_group)  \
0                                                             NaN
1                                                             NaN
2                                                             NaN
3                                                             NaN
4                                                             NaN
..                                                            ...
139                                                           NaN
140                                                           NaN
141                                                           NaN
142                                                           NaN
143                                                           NaN

Indicator_Name  Public_spending_on_education_total(%_of _GDP)  \
0                                                     4.76588
1                                                         NaN
2                                                     4.76641
3                                                     4.62612
4                                                     4.84058
..                                                        ...
139                                                   1.53554
140                                                       NaN
141                                                       NaN
142                                                   1.32632
143                                                       NaN

Indicator_Name  School_enrollment_primary_female(%gross)  \
0                                              96.938713
1                                              98.509827
2                                              98.721107
3                                              97.920860
4                                              99.085129
..                                                   ...
139                                                  NaN
140                                           119.057961
141                                           120.751747
142                                                  NaN
143                                           124.987381

Indicator_Name  School_enrollment_primary_male(%gross)  \
0                                            97.771187
1                                            99.234444
2                                            99.200188
3                                            98.101181
4                                            98.936394
..                                                 ...
139                                                NaN
140                                         111.086807
141                                         112.357452
142                                                NaN
143                                         114.350021

Indicator_Name  School_enrollment_secondary_female(%gross)  \
0                                               100.234383
1                                               100.669502
2                                               100.748367
3                                               101.104248
4                                               101.503609
..                                                     ...
139                                              75.010811
140                                              75.217491
141                                              78.270729
142                                              78.277267
143                                              81.488052

Indicator_Name  School_enrollment_secondary_male(%gross)  \
0                                             102.487061
1                                             102.732361
2                                             103.001900
3                                             103.525932
4                                             103.908081
..                                                   ...
139                                            67.974762
140                                            64.347740
141                                            67.353477
142                                            67.091103
143                                            67.548058

Indicator_Name  School_enrollment_tertiary(%gross)  \
0                                              NaN
1                                              NaN
2                                        63.600060
3                                        63.767399
4                                        63.065769
..                                             ...
139                                      17.874359
140                                      18.151461
141                                      20.565069
142                                      24.016890
143                                      22.830391

Indicator_Name  School_enrollment_tertiary_female(%gross)     Country
0                                                     NaN      Canada
1                                                     NaN      Canada
2                                               73.959007      Canada
3                                               74.445541      Canada
4                                               73.926331      Canada
..                                                    ...         ...
139                                             14.681150  Bangladesh
140                                             14.910330  Bangladesh
141                                             16.983290  Bangladesh
142                                             20.018471  Bangladesh
143                                             19.842381  Bangladesh

[144 rows x 15 columns]

C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)
C:\Users\adamj\AppData\Local\Temp\ipykernel_23536\1068395652.py:68: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(education_dfCopy1, ignore_index=True)

In [15]:
# column_map = {
#                 "Short Name" : "Name",
#                 "Region" : "Region"
#             }

# capital_map = { "Canada" : "Ottawa",
#                 "United States" : "Washington DC",
#                 "Mexico" : "Mexico City",
#                 "Mauritius" : "Port Louis",
#                 "Liberia" : "Monrovia",
#                 "Dem. Rep. Congo" : "Kinshasa",
#                 "Vietnam" : "Hanoi", 
#                 "Nepal" : "kathmandu",
#                 "Bangladesh" : "Dhaka"}

# continent_map = { "Canada" : "North America",
#                 "United States" : "North America",
#                 "Mexico" : "North America",
#                 "Mauritius" : "Africa",
#                 "Liberia" : "Africa",
#                 "Dem. Rep. Congo" : "Africa",
#                 "Vietnam" : "Asia", 
#                 "Nepal" : "Asia",
#                 "Bangladesh" : "Asia"}

In [16]:
engine = create_engine('postgresql://postgres:admin@localhost/postgres')

df.to_sql('Education', engine, if_exists = 'append', index=False)

144

In [17]:
for item in capital_map:

SyntaxError: incomplete input (743197614.py, line 2)